
<launch>

<include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch"> 
  <arg name="cam_image_topic" value="/usb_cam/image_raw"/> 
  <arg name="cam_info_topic" value="/usb_cam/camera_info"/> 
</include>

<include file="$(find camera_bag)/launch/camera_sim.launch"> 
</include>

</launch>