<launch>
    <arg name="sim" default="true" doc="Launches fake controllers. Use false to start/ connect to real robot." />
    <arg name="use_rviz" default="true" doc="Launches rviz. If you want to launch your own rviz node with own settings, use false." />

    <!-- Start a simulated robot -->
    <include file="$(find ur3e_moveit_config)/launch/demo.launch" if="$(arg sim)">
        <arg name="use_rviz" value="false" />
    </include>

    <!-- Start the real robot -->
    <include file="$(find ur_robot_driver)/launch/ur3e_bringup.launch" unless="$(arg sim)">
        <arg name="robot_ip" value="192.168.0.3" />
    </include>
    <include file="$(find ur3e_moveit_config)/launch/moveit_planning_execution.launch" unless="$(arg sim)"/>
    
    <!-- Start RViz if wanted -->
    <include file="$(find ur3e_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)"/>

</launch>